@CHARSET "UTF-8";

.big {
	padding: 15px 40px;
	font-size: 1.2em;
		float: right;
}

.big2 {
	padding: 15px 40px;
	font-size: 1.2em;
		float: right;
}

.big3 {
	padding: 15px 40px;
	font-size: 1.2em;
		float: right;
}