@CHARSET "UTF-8";

.picture{

	float: left;
	width: 50%;

}

.box{


	float: right;
	width: 43%;

   height: 400px;
   widows: 350px;

   	background-color: whitesmoke;
    border: 2px dashed #FF8C00;
    border-radius: 8px;
    box-shadow: 0 0 0 4px #FF8C00;
    color: black;
    margin: 2em 0;
    padding: 2em;

}

.b{
float: left;

 padding: 15px 40px;

    font-size: 1.2em;

}

.big{
float: right;
	 padding: 15px 40px;

    font-size: 1.2em;

}


.f{

	background-color:purple;
	text-align:center;
	color:white;
	height: 20px;
	width: 100%;

}
